<h3>Inputs básicos</h3>
<div>
  <mat-form-field>
    <input matInput type="text" placeholder="Nombre">
  </mat-form-field>
</div>

<h3>Inputs con prefijos</h3>
<div>
  <mat-form-field>
    <span matPrefix>511&nbsp;</span>
    <input matInput type="text" placeholder="Telefono">
  </mat-form-field>
</div>

<h3>Inputs con sufijos</h3>
<div>
  <mat-form-field>
    <input matInput type="text" placeholder="Centro de Estudios">
    <span matSuffix> :) </span>
  </mat-form-field>
</div>

<h3>Inputs con pistas</h3>
<div>
  <mat-form-field>
    <input matInput type="text" placeholder="Dirección">
    <mat-hint>Ejem: Av. Perú 123</mat-hint>
  </mat-form-field>
</div>