<mat-toolbar color="primary">
    <!-- <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button> -->
    <span>Mars Rover Photos</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #menu="matMenu" >
    <a mat-menu-item routerLink="/home">
        <mat-icon>dialpad</mat-icon>
        <span>Home</span>
    </a>
    <a mat-menu-item routerLink="/material-demo">
        <mat-icon>voicemail</mat-icon>
        <span>Material Demo</span>
    </a>
    <a mat-menu-item routerLink="/mars">
        <mat-icon>notifications_off</mat-icon>
        <span>Mars Image</span>
    </a>
</mat-menu>


<!-- <nav>
    <a href="" routerLink="/home">
        <button mat-button color="primary">
            Home
        </button>
    </a>
    <a href="" routerLink="/material-demo">
        <button mat-button color="primary">
            Material Demo
        </button>
    </a>
    <a href="" routerLink="/mars">
        <button mat-button color="primary">
            Mars Images
        </button>
    </a>
</nav> -->
<router-outlet></router-outlet>