<h3>Botones Simples</h3>
<div>
	<button mat-button color="primary" [disabled]="!formulario.valido">Boton Primario</button>
	<button mat-button [disabled]="!formulario.valido">Boton Basico</button>
</div>

<h3>Botones con elevacion</h3>
<div>
	<button mat-raised-button>Boton elevado</button>
	<button mat-raised-button color="primary">Boton elevado
		Primario</button>
</div>

<h3>Botones con iconos</h3>
<div>
	<button mat-raised-button color="primary">
		<mat-icon>grade</mat-icon>
	</button>
	<button mat-icon-button>
		<mat-icon>grade</mat-icon>
	</button>
	<button mat-icon-button color="primary">
		<mat-icon>grade</mat-icon>
	</button>
</div>

<h3>Botones de Accion flotante (FAB )</h3>
<div>
	<button mat-fab>
		<mat-icon>grade</mat-icon>
	</button>
	<button mat-fab color="primary">
		<mat-icon>add</mat-icon>
	</button>
</div>