<h3>Listas básicas</h3>
<mat-list>
  <mat-list-item>
    <img mat-line mat-list-avatar src="https://www.shareicon.net/data/128x128/2015/09/20/104335_avatar_512x512.png" alt="">
    <span mat-line>Luis Aviles</span>
    <span mat-line>Lima</span>
  </mat-list-item>
  <mat-list-item>
    <img mat-line mat-list-avatar src="https://www.shareicon.net/data/128x128/2015/09/20/104335_avatar_512x512.png" alt="">
    <span mat-line>Jose Luis Mejia</span>
    <span mat-line>Mexico</span>
  </mat-list-item>
  <mat-list-item>
    <img mat-line mat-list-avatar src="https://www.shareicon.net/data/128x128/2015/09/20/104335_avatar_512x512.png" alt="">
    <span mat-line>Jorge Aldunate</span>
    <span mat-line>Bogota</span>
  </mat-list-item>
</mat-list>
